print("")

In [13]:
from pylab import *
import pandas as pd
import numpy as np
import copy
import mysql.connector
import re, time
import mydate
import mydb
import mytusharepro
import tradeday

conn = mydb.conn()
cursor = conn.cursor()

sql = """
SELECT a.trade_date,ts_code,count(0) from rps_tops a where 
a.extrs >800 
group by trade_date,ts_code
HAVING count(0)>1
"""
df = pd.read_sql(sql, conn)

760